<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myapp">
    <application
        android:label="AppName"
        android:theme="@android:style/Theme.Light.NoTitleBar">

        <activity
            android:name=".MainActivity"
            android:label="Appname" >

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>
    </application>
</manifest>
